<div class="container">
  <div class="row">
    <h3>Listado de Estudiantes</h3>
    <button class="btn btn-primary ml-auto" (click)="toogle()"> Toogle </button>
  </div>
  <br>
  <table class="table" *ngIf="mostrar">
    <thead>
      <th>Num</th>
      <th>Nombre</th>
      <th>Grado</th>
    </thead>
    <tbody>
      <tr *ngFor="let estudiantes of listEstudiantes; let i = index" [ngSwitch]="estudiantes.grado">
        <td> {{i + 1}}</td>
       <td> {{estudiantes.nombre}} </td>
       <td> 
        <span *ngSwitchCase="'9'" class="badge bg-success">
          {{estudiantes.grado}}  
        </span>
        <span *ngSwitchCase="'8'" class="badge bg-secondary">
          {{estudiantes.grado}}  
        </span>
        <span *ngSwitchCase="'7'" class="badge bg-danger">
          {{estudiantes.grado}}  
        </span>
      </td>
      </tr>
    </tbody>
  </table>
  <h3 *ngIf="listEstudiantes.length === 0"> No hay registros para mostrar</h3>
</div>
